@import url("../../App.module.css");

.container {
  height: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  grid-gap: 5px;
}

.container > label {
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}

.progress {
  width: 100%;
  background-color: var(--dark-background);
  border: 1px solid var(--dark-text);
  border-radius: 20px;
  height: 3vh;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
  overflow: hidden;
}

.innerprogress {
  background-color: var(--dark-text);
  height: 1vh;
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.innerprogress.stroke {
  stroke: var(--dark-text) !important;
}

.text {
  font-size: 20px;
  justify-self: center;
  font-weight: 500;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(var(width, 0));
  }
}
