.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin: 2%;
}

.text {
  text-align: justify;
  padding: 5%;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.skillcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
}

.divider {
  color-scheme: red !important;
}
