@import url("../../App.module.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed&display=swap");

.svgWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
}

.shapeLight,
.shapeDark {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  border-bottom: 1px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.shapeDark {
  stroke: var(--dark-text);
}

.shapeLight {
  stroke: var(--light-text);
}

.textLight,
.textDark {
  font-family: "Roboto Condensed";
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 8px;
}

/* .textLight {
  color: var(--dark-background);
}

.textDark {
  color: var(--light-background);
} */

.svgWrapper:hover,
.shapeLight:hover,
.shapeDark:hover {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  cursor: pointer;
}
